.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55rem;
    margin: 0.5rem auto;
    align-items: center;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
