.sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55rem;
    margin: 6rem auto;
}

.divContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    gap: 0rem;
}

.button {
    background-color: blue;
    color: white;
    width: max-content;
}